body {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Helvetica, Sans-Serif;
  background-color: #111;
}
#prost {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: solid #eabfff 3px;
}
#titlu {
  border-bottom: solid #eabfff 5px;
  color: #eabfff;
}
#nume {
  border: solid #eabfff 2px;
}
#button {
  border: 0;
  padding: 10px;
  border-radius: 15%;
  background-color: purple;
  color: white;
}
#prompt,
#result {
  color: #eabfff;
}
#result {
  font-size: 1.5rem;
}
h3 {
  color: #eabfff;
  font-size: 2rem;
}
